.tableborder {
    border: solid 1px #ccc;
    border-radius: 4px 4px 4px 4px;
}

.table tbody tr:first-child td{
    border-top: 0px solid #fff;
}

.table {
    margin-bottom: 0px;
    border-radius: 4px;
}

.table tbody tr td:first-child {
    background-color: #eee;
    color: #555;
    padding-left: 12px;
    border-right: 1px solid #ccc;
    width: 130px;
}